@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body{
    background-color: seashell;
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo h1 {
    font-weight: 300px;
    color: rosybrown;
}

.contenedor {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

/* Formulario */
.contenedor .div-formulario {
    width: 30%;
    height: 250px;
    margin: 15px 15px;
    background-color:rosybrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: seashell;
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Listado empleados */
.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: seashell;
}

.contenedor .div-listado .div-empleados {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.contenedor .div-listado .div-empleados p {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: seashell;
    border-radius: 50px;
    cursor: pointer;
}

.btn-editar {
    background-color: darkolivegreen;
    cursor: pointer;
}

.btn-eliminar {
    background-color: firebrick;
    cursor: pointer;
}